.container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 1rem;
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    grid-template-columns: 35% 65%;
  }
  min-height: 500px;
}

.userList {
  margin: 1rem;
}

.user {
  overflow-y: scroll;
  background-color: silver;
}

.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chat {
  overflow-y: scroll;
  max-height: 500px;
  background-color: red;
}

.userItem {
  padding: 1rem;
  border: 1px silver solid;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
}

.chatInput {
  border: 1px solid silver;
  width: 250px;
  height: 30px;
}
