.container {
  display: grid;
  grid-template-columns: 30% 70%;
  /* gap: 1rem; */
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    grid-template-columns: 35% 65%;
  }
  width: 800px;
  min-height: 500px;
}

.chatTitle {
  padding: 0 1rem;
  font-weight: 700;
}

.user {
  width: 100%;
  overflow-y: scroll;
}

.chat {
  width: 100%;
  max-height: 500px;
}

.userContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userList {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 5px;
  margin-bottom: 2rem;
  padding: 1rem;
}

.userList:hover {
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

.blockUser {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(22, 74, 178);
}

.blockMsg {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  overflow: hidden;
}

.userItem {
  /* padding: 1rem; */
  /* border: 1px silver solid; */
  /* border-radius: 1rem; */
  /* margin-bottom: 1rem; */
  /* background-color: transparent; */
}

.chatInput {
  border: 1px solid silver;
  width: 250px;
  height: 30px;
}
