.header {
  background-color: rgb(255, 255, 255);
  min-width: 1014px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.headerChild {
  align-items: center;
  display: flex;
  height: 72px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1014px;
}

.headerItemOne {
  display: flex;
  align-items: center;
}

.logoLink {
  display: flex;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.keyWord {
  color: #5a5e66;
  color: var(--color-content-secondary);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  width: 113px;
}

.headerItemTwo {
  display: flex;
  gap: 1.5rem;
}

.headerItemTwoItem {
  display: flex;
}

.searchButton {
  border: 1px solid transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
}

.searchButtonText {
  color: #1e1f24;
  font-weight: 600;
  font-size: 1rem;
}

.searchButtonImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerItemThree {
  display: flex;
  grid-area: 1rem;
  /* position: relative; */
}

.relativeBlock {
  cursor: pointer;
  position: relative;
}

.absoluteBlock {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  padding: 1rem;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.absoluteBlock::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(255, 255, 255); /* Replace with your desired indicator color */
  z-index: 1;
}

.listItemsModal {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.listItemModal {
  display: flex;
  justify-content: center;
  align-self: center;
}

.listItemText {
  color: rgb(90, 94, 102);
  font-weight: 700;
  font-size: 1rem;
}

.logoutButton {
  background-color: transparent;
  border: 1px solid silver;
  width: max-content;
  padding: 0.5rem;
  font-weight: 700;
  color: rgb(9, 69, 89);
  width: 100%;
}

.absoluteBlockItem {
  border-top: 1px solid silver;
  padding: 0.4rem;
}

.absoluteBlockItem:first-child {
  border-top: none;
}

.emailLogg {
  font-size: 0.8rem;
  color: silver;
  font-weight: 400;
}

.parking {
  display: flex;
  margin-right: 1rem;
  align-items: center;
}

.loginButton {
  display: flex;
}

.login {
  border: 1px solid transparent;
  background-color: #0a4559;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.6rem;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  border-radius: 10px;
}

.login:hover {
  cursor: pointer;
}

.logoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.logoutButton:hover {
  cursor: pointer;
}

.svgCover:hover path {
  fill: black; /* Replace with your desired hover color */
}

.svgCover:hover {
  fill: black; /* Replace with your desired hover color */
  cursor: pointer;
}
