.container {
  margin-top: 1rem;
}

.hr {
  height: 1px;
}

.vehicle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.vehicleType {
  font-weight: 600;
  font-size: 0.9rem;
}

.change {
  word-break: break-all;
  font-size: 0.8rem;
  font-weight: 700;
  color: red;
  text-decoration: underline;
}
